apache-airflow
dvc[gs]
flask
scikit-learn==1.3.2
scipy
pandas
numpy
opencv-python-headless
tqdm
Pillow
tensorflow
google-cloud-storage
pyyaml
matplotlib
seaborn
imblearn
kneed
tensorflow-data-validation
IPython
torchmetrics
ray[tune]