apache-airflow
dvc[gs]
flask
scikit-learn
scipy
pandas
numpy
opencv-python-headless
tqdm
Pillow
tensorflow
google-cloud-storage
pyyaml
matplotlib
seaborn
imblearn
kneed
tensorflow-data-validation
IPython
torchmetrics
ray[tune]
requests
base64
subprocess
streamlit
google-auth 
google-auth-oauthlib
google-api-python-client
google-cloud-storage
